@import 'normalize.css';
@import 'bootstrap.min.css';
@import 'grid.css';
@import 'font-awesome.css';

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #58585b;
	background-color: #2FA2B2;
}
img {
	max-width: 100%;
}

#thanks { display:none }
.block {
	display: block;
}
.mb20{
	margin-bottom: 20px
}
.pb20{
	padding-bottom: 20px
}
.bg-white {
	background-color: #fff;
}
.bg-gray-light {
	background-color: #F7F7F7
}
.content {
	text-align:center;
	position: relative;
	width:100%;
}
.h56{
	height: 56px
}
.navbar-default .navbar-nav>li>a{
	font-size: .7em;
	margin-top: 10px;
	margin-bottom: 7px
}
.form-control:focus {
	border-color: #2FA2B2;
}
.fa {
	color: #2FA2B2
}
.navbar-brand {
	padding: 2px 0 0 
}
.navigate{
	list-style: none;
	margin: 0;
}
.navigate li{
	float: left;
	margin: 0 20px;
}
.navigate li:hover{
	cursor:pointer;
}
#logo {
		width: 110px;
	}
#botonBajar {
	width: 100%;
	z-index: 2;
	position: relative;
	top: 420px;
}
#botonBajar2 {
	width: 100%;
	z-index: 2;
	position: relative;
	top: 210px;
}
.well {
	color: #fff;
	background-color: #000;
	border-radius: 0;
	border: none;
}
.tbl {
	font-size: .8em;
	margin-top: 30px;
	margin-bottom: 50px
}

#slide1{
	margin-top: 23px
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:0px;
	font-weight: 400;
}

/* Slide 2 */ 
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color: #58585b;
	font-weight: 700;
}
#slide2 h2 {
	font-size: 2em;
	color: #58585b;
	line-height: 0px;
	padding-bottom: 20px;
	font-weight: 400;
}
.btn-down{
	position: absolute;
	top: 180px;
	right: 0;
	left: 0
}
.mt60 {
	margin-top: 60px
}

.container.clearfix ul{
	width: 256px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	overflow: hidden;
}
#tabla5 {
	width:70%
}

@media (min-width: 1200px) {
	.container {
		width: 1000px
	}
}
@media (min-width: 992px) {
	.navbar-default .navbar-nav>li>a {
		font-size: .8em
	}
}

/* Mobile */
@media screen and (max-width: 480px) {

	.slide{
		background-attachment: fixed;
		width:100%;
		position: relative;
	}
	#tabla5 {
		width: 100%
	}
}

@media screen and (max-width: 767px) {
	#logo {
		margin-left: 15px;
		width: 80px;
	}
}

footer {
	background-color: #333;
	color: #FFF;
	border-top: 4px solid #6EE0F0;
	padding: 6px 0;
	margin-top: 30px;
}